@charset "UTF-8";
/* About Me ==================*/
#about{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
#about table {
	border-collapse: collapse;
	margin: auto;
}
#about th, td {
	border:solid 2px #669;
    font-size: .8em;
    padding: 2px;
}
#about th {
    background-color:bisque;
}
#about #profile th {
    text-align-last: justify;
}
/* Contact Me ================= */
#contact form {  margin: 0 1em 20px 2em; }
#contact form input, #contact form textarea {
     border: none;
     border-bottom: solid 1px #AAA;
}
#contact #textarea{
     position:relative;
     margin-bottom: 3em;
}
#contact form textarea {
     position: absolute;
     top: 20px;
     left: 6.5em;
     border: solid 1px black;
}
#contact form div {
    line-height:2em;
    padding: 10px;
}
#contact form button {
    border: solid #aaa;
    border-radius: 5px;
    width: 5em;
    display: block;
    margin: auto;
    height: 2em;
}
/* フォームデータが妥当でない場合 20210212*/
#contact form *:invalid {
    border-color: red;
}
/*========================
    works
==========================*/
#works {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit,200px);
    justify-content: space-around; /* グリッド全体を均等に配置 */
    /*justify-content: center;*/ /* グリッド全体を中央に寄せる */
    grid-row-gap: 10px;

}
#works > div {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0;
}
#works p {
    margin:0;
    padding: 0;
    width: 100%;
    height:100%;
}
#works a {
	display: inline-block;/*ブロック要素にする*/
	width:100%;/*ブロック要素にしたので幅や高さが指定出来る*/
	height:100%;
    font-size:2em;
    color:rgb(61, 29, 136);
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}
#works > div:nth-of-type(1) {
    background-image: url(../images/kadai9.png);
}
#works > div:nth-of-type(2) {
    background-image: url(../images/kadai10.png);
}
#works > div:nth-of-type(3) {
    background-image: url(../images/kadai20.png);
}
#works > div:nth-of-type(4) {
    background-image: url(../images/kadai21.png);
}
#works > div:nth-of-type(5) {
    background-image: url(../images/kadai22.png);
}
/*========================
         Animation
==========================*/
#works a{
    opacity: 0; /* 非表示する */
    transition: all 3s; /* 全てのプロパティを3秒かけて変化 */
    transform: rotate(0.5turn) scale(0); /* 文字を反転 拡大率0 */
}
#works a:visited{ /* リンク済み */
    color:white;
}
#works div:hover a{ /* hoverのイベントをdivでとる */
    opacity: 1; /* 表示する */
    border:solid rgb(129, 41, 88) 3px;
    transform: rotate(1turn) scale(1); /* 文字を正転 拡大率1 */
    background-color:beige;
}
/*========================
         Mobile
==========================*/
/* About Me ==================*/
@media screen and (max-width:767px) {
	#about{
  		flex-direction:column;
	}
}